body {
  margin: 0;
  font-family: 'Roboto', sans-serif; /* Modern, clean font */
  background-color: darkgreen;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: 'Source Code Pro', monospace; /* Modern monospace font */
}

